.img-container {
    background-image: url("hw1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 789px;

}

a {
    text-decoration: none;
    color: #1daf9a;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px;

}
.menu {
    text-align: center;
    padding: 20px 100px;

}
.content {
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    padding:  50px 100px;
    background-color: rgb(242, 242, 242);
}
h3 {
        font-family: Arial;
        text-transform: uppercase;
        margin-top: 0px;
}
footer {
    font-family: Arial;
    font-weight: bold;
    text-align: right;
    padding: 50px;
}
.button {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #1daf9a;
    border-style: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: 34px 0 0;
}